In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Synthetic_Data_Water_Quality.csv')

In [3]:
df

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,8.34,3.39,8.06,819.00,787.15,279.89,0.09,129.30,0.22,13.13,81.01,2.24,12.69,107.95,17.50,22.23,0.41,potable
1,14.45,3.36,8.28,1371.10,779.66,112.04,0.20,163.73,0.13,127.48,307.99,4.05,52.01,107.12,45.28,16.06,0.68,potable
2,3.87,4.23,6.86,202.75,485.10,113.17,0.15,66.68,0.29,142.97,16.70,0.86,88.47,127.47,4.90,19.81,0.91,potable
3,14.57,1.75,7.00,696.16,409.71,140.39,0.06,102.42,0.15,194.07,393.09,2.60,61.36,99.16,36.73,42.82,0.02,potable
4,9.01,2.20,6.73,129.24,343.55,6.52,0.07,140.47,0.28,3.77,170.65,0.04,47.22,107.17,44.79,14.35,2.08,potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27.64,9.46,0.09,2422.27,1147.04,521.18,0.24,362.50,0.41,283.40,438.94,9.88,112.00,258.93,70.92,81.10,3.09,non-potable
9996,25.58,8.61,4.39,1516.78,1604.78,429.84,0.33,394.23,0.55,303.78,556.85,8.87,122.23,284.79,76.31,79.69,2.48,non-potable
9997,19.40,8.16,3.05,2456.68,1439.54,483.23,0.40,348.95,0.48,229.37,690.85,6.67,136.61,198.87,68.99,53.38,3.37,non-potable
9998,18.73,5.03,9.35,1900.45,1092.84,458.86,0.28,289.98,0.52,310.67,564.05,7.22,108.37,260.68,82.73,83.58,2.78,non-potable
9999,27.30,8.66,9.22,2750.24,1058.46,492.12,0.35,283.16,0.59,247.13,423.96,8.42,149.07,266.26,87.11,51.96,4.11,non-potable

In [4]:
df = df.sample(frac=1)

In [5]:
df

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
909,6.78,2.54,7.55,797.23,515.98,299.94,0.04,193.05,0.00,99.57,237.10,2.02,36.28,53.24,40.68,38.44,1.13,potable
7555,23.65,6.08,5.88,2696.03,1066.56,314.46,0.37,285.12,0.37,315.26,624.28,6.71,137.92,246.32,55.68,80.00,4.36,non-potable
5232,17.22,9.04,12.62,1597.87,1679.06,333.64,0.22,319.95,0.41,312.33,669.02,6.06,113.44,172.75,93.35,63.89,2.36,non-potable
6637,23.71,8.98,3.56,2219.51,1476.34,478.23,0.38,381.06,0.31,361.70,650.57,8.69,168.45,275.90,85.27,89.64,2.89,non-potable
8726,15.86,5.21,5.20,2311.48,1406.81,376.38,0.34,429.28,0.32,230.22,487.37,7.31,184.31,258.12,92.88,70.12,2.61,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8013,27.49,8.15,3.31,2734.71,1120.90,347.83,0.37,320.27,0.36,209.90,672.88,5.57,189.02,298.27,92.24,61.91,2.62,non-potable
2135,3.47,1.50,7.14,1374.76,352.88,75.32,0.19,14.42,0.25,98.60,333.53,1.31,77.62,51.25,25.85,38.35,1.45,potable
7240,21.90,7.81,2.19,2751.09,1834.68,551.11,0.29,438.04,0.49,241.29,686.53,6.63,125.84,286.35,58.29,78.01,3.68,non-potable
5421,24.88,6.16,11.64,1902.29,1952.45,366.64,0.39,380.04,0.41,230.09,723.04,8.48,188.27,163.57,55.73,86.13,2.97,non-potable
4162,0.54,2.11,6.58,1013.17,690.16,196.55,0.11,147.30,0.09,136.41,96.22,0.34,80.10,99.66,15.02,13.90,1.80,potable

In [6]:
df.reset_index(inplace=True)

In [7]:
df

,index,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,909,6.78,2.54,7.55,797.23,515.98,299.94,0.04,193.05,0.00,99.57,237.10,2.02,36.28,53.24,40.68,38.44,1.13,potable
1,7555,23.65,6.08,5.88,2696.03,1066.56,314.46,0.37,285.12,0.37,315.26,624.28,6.71,137.92,246.32,55.68,80.00,4.36,non-potable
2,5232,17.22,9.04,12.62,1597.87,1679.06,333.64,0.22,319.95,0.41,312.33,669.02,6.06,113.44,172.75,93.35,63.89,2.36,non-potable
3,6637,23.71,8.98,3.56,2219.51,1476.34,478.23,0.38,381.06,0.31,361.70,650.57,8.69,168.45,275.90,85.27,89.64,2.89,non-potable
4,8726,15.86,5.21,5.20,2311.48,1406.81,376.38,0.34,429.28,0.32,230.22,487.37,7.31,184.31,258.12,92.88,70.12,2.61,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8013,27.49,8.15,3.31,2734.71,1120.90,347.83,0.37,320.27,0.36,209.90,672.88,5.57,189.02,298.27,92.24,61.91,2.62,non-potable
9996,2135,3.47,1.50,7.14,1374.76,352.88,75.32,0.19,14.42,0.25,98.60,333.53,1.31,77.62,51.25,25.85,38.35,1.45,potable
9997,7240,21.90,7.81,2.19,2751.09,1834.68,551.11,0.29,438.04,0.49,241.29,686.53,6.63,125.84,286.35,58.29,78.01,3.68,non-potable
9998,5421,24.88,6.16,11.64,1902.29,1952.45,366.64,0.39,380.04,0.41,230.09,723.04,8.48,188.27,163.57,55.73,86.13,2.97,non-potable
9999,4162,0.54,2.11,6.58,1013.17,690.16,196.55,0.11,147.30,0.09,136.41,96.22,0.34,80.10,99.66,15.02,13.90,1.80,potable

In [8]:
df = df.drop(columns=['index'])

In [9]:
df

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,6.78,2.54,7.55,797.23,515.98,299.94,0.04,193.05,0.00,99.57,237.10,2.02,36.28,53.24,40.68,38.44,1.13,potable
1,23.65,6.08,5.88,2696.03,1066.56,314.46,0.37,285.12,0.37,315.26,624.28,6.71,137.92,246.32,55.68,80.00,4.36,non-potable
2,17.22,9.04,12.62,1597.87,1679.06,333.64,0.22,319.95,0.41,312.33,669.02,6.06,113.44,172.75,93.35,63.89,2.36,non-potable
3,23.71,8.98,3.56,2219.51,1476.34,478.23,0.38,381.06,0.31,361.70,650.57,8.69,168.45,275.90,85.27,89.64,2.89,non-potable
4,15.86,5.21,5.20,2311.48,1406.81,376.38,0.34,429.28,0.32,230.22,487.37,7.31,184.31,258.12,92.88,70.12,2.61,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27.49,8.15,3.31,2734.71,1120.90,347.83,0.37,320.27,0.36,209.90,672.88,5.57,189.02,298.27,92.24,61.91,2.62,non-potable
9996,3.47,1.50,7.14,1374.76,352.88,75.32,0.19,14.42,0.25,98.60,333.53,1.31,77.62,51.25,25.85,38.35,1.45,potable
9997,21.90,7.81,2.19,2751.09,1834.68,551.11,0.29,438.04,0.49,241.29,686.53,6.63,125.84,286.35,58.29,78.01,3.68,non-potable
9998,24.88,6.16,11.64,1902.29,1952.45,366.64,0.39,380.04,0.41,230.09,723.04,8.48,188.27,163.57,55.73,86.13,2.97,non-potable
9999,0.54,2.11,6.58,1013.17,690.16,196.55,0.11,147.30,0.09,136.41,96.22,0.34,80.10,99.66,15.02,13.90,1.80,potable

In [10]:
df1 = pd.read_csv('water_potability.csv')

In [11]:
df1

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [12]:
df1 = df1.dropna()

In [13]:
df1

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

In [39]:
mapping = {1: 'non-potable', 0: 'potable'}

# Applying the mapping using replace
df1['Potability'] = df1['Potability'].replace(mapping)

In [14]:
df1.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

In [15]:
df.columns

Index(['Colour (TCU)', 'Turbidity (NTU)', 'pH', 'Conductivity (uS/cm)',
       'Total Dissolved Solids (mg/l)', 'Total Hardness (mg/l as CaCO3)',
       'Aluminium (mg/l)', 'Chloride (mg/l)', 'Total Iron (mg/l)',
       'Sodium (mg/l)', 'Sulphate (mg/l)', 'Zinc (mg/l)', 'Magnesium (mg/l)',
       'Calcium (mg/l)', 'Potassium (mg/l)', 'Nitrate (mg/l)',
       'Phosphate (mg/l)', 'Potability'],
      dtype='object')

In [16]:
df1 = df1.rename(columns={'ph':'pH','Hardness':'Total Hardness (mg/l as CaCO3)','Sulfate':'Sulphate (mg/l)','Conductivity':'Conductivity (uS/cm)'})

In [17]:
df1

,pH,Total Hardness (mg/l as CaCO3),Solids,Chloramines,Sulphate (mg/l),Conductivity (uS/cm),Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

In [18]:
df1 = df1.drop(columns=['Solids','Chloramines','Organic_carbon','Trihalomethanes','Turbidity'])

In [19]:
df1

,pH,Total Hardness (mg/l as CaCO3),Sulphate (mg/l),Conductivity (uS/cm),Potability
3,8.316766,214.373394,356.886136,363.266516,0
4,9.092223,181.101509,310.135738,398.410813,0
5,5.584087,188.313324,326.678363,280.467916,0
6,10.223862,248.071735,393.663396,283.651634,0
7,8.635849,203.361523,303.309771,474.607645,0
...,...,...,...,...,...
3267,8.989900,215.047358,312.931022,390.410231,1
3268,6.702547,207.321086,304.510230,329.266002,1
3269,11.491011,94.812545,258.930600,439.893618,1
3270,6.069616,186.659040,345.700257,415.886955,1
3271,4.668102,193.681735,359.948574,526.424171,1

In [20]:
df

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,6.78,2.54,7.55,797.23,515.98,299.94,0.04,193.05,0.00,99.57,237.10,2.02,36.28,53.24,40.68,38.44,1.13,potable
1,23.65,6.08,5.88,2696.03,1066.56,314.46,0.37,285.12,0.37,315.26,624.28,6.71,137.92,246.32,55.68,80.00,4.36,non-potable
2,17.22,9.04,12.62,1597.87,1679.06,333.64,0.22,319.95,0.41,312.33,669.02,6.06,113.44,172.75,93.35,63.89,2.36,non-potable
3,23.71,8.98,3.56,2219.51,1476.34,478.23,0.38,381.06,0.31,361.70,650.57,8.69,168.45,275.90,85.27,89.64,2.89,non-potable
4,15.86,5.21,5.20,2311.48,1406.81,376.38,0.34,429.28,0.32,230.22,487.37,7.31,184.31,258.12,92.88,70.12,2.61,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27.49,8.15,3.31,2734.71,1120.90,347.83,0.37,320.27,0.36,209.90,672.88,5.57,189.02,298.27,92.24,61.91,2.62,non-potable
9996,3.47,1.50,7.14,1374.76,352.88,75.32,0.19,14.42,0.25,98.60,333.53,1.31,77.62,51.25,25.85,38.35,1.45,potable
9997,21.90,7.81,2.19,2751.09,1834.68,551.11,0.29,438.04,0.49,241.29,686.53,6.63,125.84,286.35,58.29,78.01,3.68,non-potable
9998,24.88,6.16,11.64,1902.29,1952.45,366.64,0.39,380.04,0.41,230.09,723.04,8.48,188.27,163.57,55.73,86.13,2.97,non-potable
9999,0.54,2.11,6.58,1013.17,690.16,196.55,0.11,147.30,0.09,136.41,96.22,0.34,80.10,99.66,15.02,13.90,1.80,potable

In [21]:
df[['Potability']].value_counts()

Potability
non-potable    5000
potable        5000
dtype: int64

In [22]:
df

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,6.78,2.54,7.55,797.23,515.98,299.94,0.04,193.05,0.00,99.57,237.10,2.02,36.28,53.24,40.68,38.44,1.13,potable
1,23.65,6.08,5.88,2696.03,1066.56,314.46,0.37,285.12,0.37,315.26,624.28,6.71,137.92,246.32,55.68,80.00,4.36,non-potable
2,17.22,9.04,12.62,1597.87,1679.06,333.64,0.22,319.95,0.41,312.33,669.02,6.06,113.44,172.75,93.35,63.89,2.36,non-potable
3,23.71,8.98,3.56,2219.51,1476.34,478.23,0.38,381.06,0.31,361.70,650.57,8.69,168.45,275.90,85.27,89.64,2.89,non-potable
4,15.86,5.21,5.20,2311.48,1406.81,376.38,0.34,429.28,0.32,230.22,487.37,7.31,184.31,258.12,92.88,70.12,2.61,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,27.49,8.15,3.31,2734.71,1120.90,347.83,0.37,320.27,0.36,209.90,672.88,5.57,189.02,298.27,92.24,61.91,2.62,non-potable
9996,3.47,1.50,7.14,1374.76,352.88,75.32,0.19,14.42,0.25,98.60,333.53,1.31,77.62,51.25,25.85,38.35,1.45,potable
9997,21.90,7.81,2.19,2751.09,1834.68,551.11,0.29,438.04,0.49,241.29,686.53,6.63,125.84,286.35,58.29,78.01,3.68,non-potable
9998,24.88,6.16,11.64,1902.29,1952.45,366.64,0.39,380.04,0.41,230.09,723.04,8.48,188.27,163.57,55.73,86.13,2.97,non-potable
9999,0.54,2.11,6.58,1013.17,690.16,196.55,0.11,147.30,0.09,136.41,96.22,0.34,80.10,99.66,15.02,13.90,1.80,potable

In [23]:
df1

,pH,Total Hardness (mg/l as CaCO3),Sulphate (mg/l),Conductivity (uS/cm),Potability
3,8.316766,214.373394,356.886136,363.266516,0
4,9.092223,181.101509,310.135738,398.410813,0
5,5.584087,188.313324,326.678363,280.467916,0
6,10.223862,248.071735,393.663396,283.651634,0
7,8.635849,203.361523,303.309771,474.607645,0
...,...,...,...,...,...
3267,8.989900,215.047358,312.931022,390.410231,1
3268,6.702547,207.321086,304.510230,329.266002,1
3269,11.491011,94.812545,258.930600,439.893618,1
3270,6.069616,186.659040,345.700257,415.886955,1
3271,4.668102,193.681735,359.948574,526.424171,1

In [42]:
data = pd.concat([df,df1])

In [43]:
data.isnull().mean()

Colour (TCU)                      0.16743
Turbidity (NTU)                   0.16743
pH                                0.00000
Conductivity (uS/cm)              0.00000
Total Dissolved Solids (mg/l)     0.16743
Total Hardness (mg/l as CaCO3)    0.00000
Aluminium (mg/l)                  0.16743
Chloride (mg/l)                   0.16743
Total Iron (mg/l)                 0.16743
Sodium (mg/l)                     0.16743
Sulphate (mg/l)                   0.00000
Zinc (mg/l)                       0.16743
Magnesium (mg/l)                  0.16743
Calcium (mg/l)                    0.16743
Potassium (mg/l)                  0.16743
Nitrate (mg/l)                    0.16743
Phosphate (mg/l)                  0.16743
Potability                        0.00000
dtype: float64

In [28]:
from sklearn.impute import SimpleImputer
import numpy as np
mean = SimpleImputer(strategy='mean')

In [29]:
data_cat = data[['Potability']]

In [30]:
data = data.drop(columns=['Potability'])

In [31]:
data

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l)
0,6.78,2.54,7.550000,797.230000,515.98,299.940000,0.04,193.05,0.00,99.57,237.100000,2.02,36.28,53.24,40.68,38.44,1.13
1,23.65,6.08,5.880000,2696.030000,1066.56,314.460000,0.37,285.12,0.37,315.26,624.280000,6.71,137.92,246.32,55.68,80.00,4.36
2,17.22,9.04,12.620000,1597.870000,1679.06,333.640000,0.22,319.95,0.41,312.33,669.020000,6.06,113.44,172.75,93.35,63.89,2.36
3,23.71,8.98,3.560000,2219.510000,1476.34,478.230000,0.38,381.06,0.31,361.70,650.570000,8.69,168.45,275.90,85.27,89.64,2.89
4,15.86,5.21,5.200000,2311.480000,1406.81,376.380000,0.34,429.28,0.32,230.22,487.370000,7.31,184.31,258.12,92.88,70.12,2.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,NaN,NaN,8.989900,390.410231,NaN,215.047358,NaN,NaN,NaN,NaN,312.931022,NaN,NaN,NaN,NaN,NaN,NaN
3268,NaN,NaN,6.702547,329.266002,NaN,207.321086,NaN,NaN,NaN,NaN,304.510230,NaN,NaN,NaN,NaN,NaN,NaN
3269,NaN,NaN,11.491011,439.893618,NaN,94.812545,NaN,NaN,NaN,NaN,258.930600,NaN,NaN,NaN,NaN,NaN,NaN
3270,NaN,NaN,6.069616,415.886955,NaN,186.659040,NaN,NaN,NaN,NaN,345.700257,NaN,NaN,NaN,NaN,NaN,NaN
3271,NaN,NaN,4.668102,526.424171,NaN,193.681735,NaN,NaN,NaN,NaN,359.948574,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data['Colour (TCU)'] = mean.fit_transform(data[['Colour (TCU)']])

In [48]:
data['Total Dissolved Solids (mg/l)'] = mean.fit_transform(data[['Total Dissolved Solids (mg/l)']])
data['Turbidity (NTU)'] = mean.fit_transform(data[['Turbidity (NTU)']])
data['Aluminium (mg/l)'] = mean.fit_transform(data[['Aluminium (mg/l)']])
data['Chloride (mg/l)'] = mean.fit_transform(data[['Chloride (mg/l)']])
data['Total Iron (mg/l)'] = mean.fit_transform(data[['Total Iron (mg/l)']])
data['Sodium (mg/l)'] = mean.fit_transform(data[['Sodium (mg/l)']])
data['Zinc (mg/l)'] = mean.fit_transform(data[['Zinc (mg/l)']])
data['Magnesium (mg/l)'] = mean.fit_transform(data[['Magnesium (mg/l)']])
data['Calcium (mg/l)'] = mean.fit_transform(data[['Calcium (mg/l)']])
data['Potassium (mg/l)'] = mean.fit_transform(data[['Potassium (mg/l)']])
data['Nitrate (mg/l)'] = mean.fit_transform(data[['Nitrate (mg/l)']])
data['Phosphate (mg/l)'] = mean.fit_transform(data[['Phosphate (mg/l)']])

In [34]:
data

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l)
0,6.780000,2.540000,7.550000,797.230000,515.980000,299.940000,0.040000,193.050000,0.000000,99.570000,237.100000,2.020000,36.280000,53.240000,40.680000,38.440000,1.130000
1,23.650000,6.080000,5.880000,2696.030000,1066.560000,314.460000,0.370000,285.120000,0.370000,315.260000,624.280000,6.710000,137.920000,246.320000,55.680000,80.000000,4.360000
2,17.220000,9.040000,12.620000,1597.870000,1679.060000,333.640000,0.220000,319.950000,0.410000,312.330000,669.020000,6.060000,113.440000,172.750000,93.350000,63.890000,2.360000
3,23.710000,8.980000,3.560000,2219.510000,1476.340000,478.230000,0.380000,381.060000,0.310000,361.700000,650.570000,8.690000,168.450000,275.900000,85.270000,89.640000,2.890000
4,15.860000,5.210000,5.200000,2311.480000,1406.810000,376.380000,0.340000,429.280000,0.320000,230.220000,487.370000,7.310000,184.310000,258.120000,92.880000,70.120000,2.610000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,15.006526,5.003388,8.989900,390.410231,1001.183584,215.047358,0.200808,249.491721,0.300165,200.793553,312.931022,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561
3268,15.006526,5.003388,6.702547,329.266002,1001.183584,207.321086,0.200808,249.491721,0.300165,200.793553,304.510230,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561
3269,15.006526,5.003388,11.491011,439.893618,1001.183584,94.812545,0.200808,249.491721,0.300165,200.793553,258.930600,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561
3270,15.006526,5.003388,6.069616,415.886955,1001.183584,186.659040,0.200808,249.491721,0.300165,200.793553,345.700257,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561
3271,15.006526,5.003388,4.668102,526.424171,1001.183584,193.681735,0.200808,249.491721,0.300165,200.793553,359.948574,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561

In [35]:
data['Potability'] = data_cat

In [41]:
data

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,6.780000,2.540000,7.550000,797.230000,515.980000,299.940000,0.040000,193.050000,0.000000,99.570000,237.100000,2.020000,36.280000,53.240000,40.680000,38.440000,1.130000,potable
1,23.650000,6.080000,5.880000,2696.030000,1066.560000,314.460000,0.370000,285.120000,0.370000,315.260000,624.280000,6.710000,137.920000,246.320000,55.680000,80.000000,4.360000,non-potable
2,17.220000,9.040000,12.620000,1597.870000,1679.060000,333.640000,0.220000,319.950000,0.410000,312.330000,669.020000,6.060000,113.440000,172.750000,93.350000,63.890000,2.360000,non-potable
3,23.710000,8.980000,3.560000,2219.510000,1476.340000,478.230000,0.380000,381.060000,0.310000,361.700000,650.570000,8.690000,168.450000,275.900000,85.270000,89.640000,2.890000,non-potable
4,15.860000,5.210000,5.200000,2311.480000,1406.810000,376.380000,0.340000,429.280000,0.320000,230.220000,487.370000,7.310000,184.310000,258.120000,92.880000,70.120000,2.610000,non-potable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,15.006526,5.003388,8.989900,390.410231,1001.183584,215.047358,0.200808,249.491721,0.300165,200.793553,312.931022,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1
3268,15.006526,5.003388,6.702547,329.266002,1001.183584,207.321086,0.200808,249.491721,0.300165,200.793553,304.510230,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1
3269,15.006526,5.003388,11.491011,439.893618,1001.183584,94.812545,0.200808,249.491721,0.300165,200.793553,258.930600,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1
3270,15.006526,5.003388,6.069616,415.886955,1001.183584,186.659040,0.200808,249.491721,0.300165,200.793553,345.700257,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1
3271,15.006526,5.003388,4.668102,526.424171,1001.183584,193.681735,0.200808,249.491721,0.300165,200.793553,359.948574,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1

In [44]:
data['Potability'].value_counts()

potable        6200
non-potable    5811
Name: Potability, dtype: int64

In [45]:
from sklearn.preprocessing import OneHotEncoder
enc=  OneHotEncoder(sparse=False)
data['Potability'] = enc.fit_transform(data[['Potability']])

C:\Users\bibhz\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [49]:
data

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,1.0,2.540000,7.550000,797.230000,515.980000,299.940000,0.040000,193.050000,0.000000,99.570000,237.100000,2.020000,36.280000,53.240000,40.680000,38.440000,1.130000,0.0
1,0.0,6.080000,5.880000,2696.030000,1066.560000,314.460000,0.370000,285.120000,0.370000,315.260000,624.280000,6.710000,137.920000,246.320000,55.680000,80.000000,4.360000,1.0
2,0.0,9.040000,12.620000,1597.870000,1679.060000,333.640000,0.220000,319.950000,0.410000,312.330000,669.020000,6.060000,113.440000,172.750000,93.350000,63.890000,2.360000,1.0
3,0.0,8.980000,3.560000,2219.510000,1476.340000,478.230000,0.380000,381.060000,0.310000,361.700000,650.570000,8.690000,168.450000,275.900000,85.270000,89.640000,2.890000,1.0
4,0.0,5.210000,5.200000,2311.480000,1406.810000,376.380000,0.340000,429.280000,0.320000,230.220000,487.370000,7.310000,184.310000,258.120000,92.880000,70.120000,2.610000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,0.0,5.003388,8.989900,390.410231,1001.183584,215.047358,0.200808,249.491721,0.300165,200.793553,312.931022,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0
3268,0.0,5.003388,6.702547,329.266002,1001.183584,207.321086,0.200808,249.491721,0.300165,200.793553,304.510230,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0
3269,0.0,5.003388,11.491011,439.893618,1001.183584,94.812545,0.200808,249.491721,0.300165,200.793553,258.930600,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0
3270,0.0,5.003388,6.069616,415.886955,1001.183584,186.659040,0.200808,249.491721,0.300165,200.793553,345.700257,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0
3271,0.0,5.003388,4.668102,526.424171,1001.183584,193.681735,0.200808,249.491721,0.300165,200.793553,359.948574,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0

In [50]:
data = data.sample(frac=1)
data = data.reset_index()

data = data.drop(columns=['index'])
data

,Colour (TCU),Turbidity (NTU),pH,Conductivity (uS/cm),Total Dissolved Solids (mg/l),Total Hardness (mg/l as CaCO3),Aluminium (mg/l),Chloride (mg/l),Total Iron (mg/l),Sodium (mg/l),Sulphate (mg/l),Zinc (mg/l),Magnesium (mg/l),Calcium (mg/l),Potassium (mg/l),Nitrate (mg/l),Phosphate (mg/l),Potability
0,0.0,5.400000,11.510000,2709.760000,1267.430000,461.960000,0.280000,392.630000,0.430000,229.280000,594.440000,6.240000,111.420000,298.240000,91.790000,89.910000,2.550000,1.0
1,1.0,2.640000,8.180000,661.220000,683.800000,194.440000,0.000000,74.290000,0.280000,57.580000,241.710000,4.110000,81.460000,34.430000,32.190000,16.770000,1.360000,0.0
2,0.0,5.750000,8.750000,2887.140000,1325.190000,577.680000,0.350000,356.240000,0.490000,246.220000,550.650000,8.280000,134.570000,203.100000,88.570000,65.490000,4.250000,1.0
3,0.0,5.003388,9.161089,379.725182,1001.183584,119.841905,0.200808,249.491721,0.300165,200.793553,343.289234,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,1.0
4,0.0,7.400000,5.890000,2726.280000,1246.690000,379.870000,0.290000,264.260000,0.510000,310.860000,682.590000,9.250000,174.920000,161.900000,89.380000,81.950000,3.470000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12006,0.0,9.790000,11.180000,2125.960000,1116.540000,335.950000,0.250000,352.550000,0.470000,257.810000,795.980000,6.580000,123.610000,289.150000,82.810000,84.390000,2.310000,1.0
12007,1.0,1.920000,7.780000,990.960000,440.260000,241.330000,0.090000,88.250000,0.260000,153.530000,306.470000,2.880000,51.400000,110.900000,42.900000,3.800000,1.280000,0.0
12008,1.0,5.003388,7.726135,472.258994,1001.183584,233.947864,0.200808,249.491721,0.300165,200.793553,340.273171,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,0.0
12009,1.0,1.580000,6.810000,1472.340000,829.330000,252.440000,0.060000,117.290000,0.050000,62.960000,10.550000,4.800000,45.730000,107.060000,33.300000,17.280000,1.050000,0.0
12010,1.0,5.003388,8.245187,423.736784,1001.183584,199.305774,0.200808,249.491721,0.300165,200.793553,406.047609,5.004608,100.026299,149.944522,49.838229,45.162176,2.205561,0.0

In [52]:
X = data.drop(columns='Potability')
y = data['Potability']

In [106]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=5)
num_folds = 3

In [107]:
for train_index, test_index in folds.split(X, y):
    
    
    # Split the data into training and test sets for the current fold
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [108]:
X_train.shape

(9609, 17)

In [109]:
X_test.shape

(2402, 17)

In [110]:
y_train.shape

(9609,)

In [111]:
y_test.shape

(2402,)

In [71]:
from sklearn.linear_model import LogisticRegression,RidgeClassifier,SGDClassifier,PassiveAggressiveClassifier
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC,LinearSVC,NuSVC
from sklearn.neighbors import KNeighborsClassifier,NearestCentroid
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.ensemble import VotingClassifier

from sklearn.metrics import precision_score,accuracy_score
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV,RepeatedStratifiedKFold

In [112]:
model = SVC()

In [113]:
model.fit(X_train,y_train)

SVC()

In [114]:
model.score(X_test,y_test)

0.9271440466278101

In [115]:
model = SGDClassifier(max_iter=1000, tol=1e-3,loss='log_loss')

In [116]:
model.fit(X_train,y_train)

SGDClassifier(loss='log_loss')

In [117]:
model.score(X_test,y_test)

0.906744379683597